.container{
 display:inline-block;
}
.container .card{
    cursor:pointer;
    width:100px;
    height:100px;
    border-radius:10px;
    padding:30px;
    margin:10px;
    color:#1165af;
    background-color:#2b2b2b;
}
.container .card:hover{
  
    border-radius:20px;
    border:5px solid #36539d;
    padding:30px;
    margin:10px;
    color:#1165af;
    background-color:#414141;
}
.container .card .p___1{
    display:flex;
    font-size:20px;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    border-radius: 50%;
    background-color:aqua;
    width:50%;
    height:50%;

}